:root {
    --margin-bottom: 20px;
    --font-bold: 600;
    --star-gen-font-size: 13px
}

.au-container .banner {
    padding-top: var(--navbar-height);
}

.banner img {
    width: 100%;
}

.inspiration-story {
    padding: 35px 0;
}

.inspiration-story > .story-image {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.story-image img {
    width: 100%;
}


.inspiration-story .story-detail {
    padding: var(--margin-bottom);
}

.story-detail > h1 {
    text-align: start;
    font-weight: var(--font-bold);
}

.story-detail > p {
    word-spacing: 2px;
    line-height: 2;
}

.roadmap-section img {
    width: 100%;
    margin-top: -85px;
}

.vision-section {
    background-image: url(../images/about_us/vision-background-image.jpg);
    padding: 50px 0;
}

.vision-section .box-section-img{
    margin-top: 25px;
    text-align: center;
}
.vision-section .box-section-img img{
    width: 100%;
}

.vision-image > img {
    width: 100%;
}

.star-gen-section .star-gen-image {
    padding: 50px 0;
    text-align: center;
}

/* .sg-leaders {
    margin-left: var(--margin-rl-width);
    margin-right: var(--margin-rl-width);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */

.sg-leaders .leader-item {
    background-color: #F0F3F4;
    margin-bottom: var(--margin-bottom);
}

.item-title h3, .item-title h4 {
    padding-left: var(--margin-bottom);
    padding-right: var(--margin-bottom);
}

.leader-item .item-title {
    border-bottom: 1px solid #cccccc;
}

.item-title > img {
    width: 100%;
}

.item-title h3 {
    font-weight: var(--font-bold);
    text-align: start;
    color: #47aa75;
}

.item-title h4 {
    font-size: 13px;
}

.item-info p.title {
    font-weight: var(--font-bold);
    font-size: var(--star-gen-font-size);
}

.item-info li {
    font-size: var(--star-gen-font-size);
    line-height: 1.4;
    margin-bottom: 10px;
}

.sg-generations {
    margin-left: var(--margin-rl-width);
    margin-right: var(--margin-rl-width);
}

.img-bottom img {
    width: 100%;
    margin-bottom: 50px;
}
.au-container .star-gen-section .item-title{
    background-color: #E7EBEC;
    border-bottom: 2px solid #C7CFD1;
}
.au-container .star-gen-section .item-title h3{
    font-size: 15px;
    margin-top: 10px;
}
.au-container .star-gen-section .item-info {
    padding: 15px 15px 15px 15px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #F0F3F4 0%, #FFFFFF 95%);
}


/* // Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 767.98px) { 

    
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) and (min-width: 767.98px) { 
   
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) and (min-width: 991.98px){ 
   
}