:root {
    --margin-bottom: 20px;
    --font-bold: 600;
    --star-gen-font-size: 13px;
    --margin-top: 60px
}

.become-partner-container {
    font-family: "Roboto", Sans-serif;
}

.become-partner-container h1 {
    font-weight: var(--font-bold);
}

.become-partner-container img {
    width: 100%;
}

.info-1 {
    padding: 50px 0;
}

.info-1 .left {

}

.info-1 .left img {
    width: 80%;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-3-video {
    padding: 50px 0;
}

.info-3-video .video {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-3-video .video iframe {
    width: 100%;
    height: 660px;
}

.info-4 img{
    width: 30%;
}

.info-5 {
    
}

.info-5 .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

.icon-container .icon-container-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.icon-container .icon-container-item .description p{
    margin-bottom: 0;
}

.icon-container-item .icon {
    padding: 10px;
}

.icon-container-item p {
    font-size: 14px;
}

.info-6 {
    background-image: url(../images/bg-trang-chu.jpg);
    padding: 50px 0 100px 0;
}

.info-6 .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-6 h1 {
    color: #ffffff;
}

.details .detail-item .icon {
    margin-bottom: var(--margin-bottom);
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-item .icon .furniture {
    width: 60%;
}

.detail-item .icon .operate, .detail-item .icon .sale {
    width: 46%;
}

.detail-item .image img {
    border-radius: 24px;
}

.enter-submit {
    margin-top: -100px;
    padding-bottom: 50px;
}

.form-register {
    margin-top: var(--margin-top);
    padding: var(--margin-top);
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.5);
    border-radius: 24px;
    background-color: #FDFDFD;
}

.form-register h1 {
    margin: 0;
}

.register-form {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.register-form input {
    width: 22%;
    height: 44px;
    border: 1px solid #dedede;
    border-radius: 4px;
    outline: none;
}
.enter-submit .form-register .sub-mit{
    margin-bottom: 0;
    padding-top: 8px;
}
/* // Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 767.98px) { 
    .info-3-video {
        margin-left: 0;
        margin-right: 0;
    }
    .become-partner-container h1 {
        font-weight: var(--font-bold);
        margin-top: 35px;
        font-size: 28px;
    }
    .info-3-video .video iframe {
        height: 320px;
    }
    .info-4 img{
        width: 45%;
    }
    .info-6 .details .detail-item{
        margin-top: 25px;
    }
    
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) and (min-width: 767.98px) { 
   
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) and (min-width: 991.98px){ 
   
}



