:root {
    --margin-bottom: 20px;
    --font-bold: 600
}

.services-container {
    padding-top: var(--navbar-height);
    font-family: "Roboto", Sans-serif;
}

.services-banner > img {
    width: 100%;
}

.tknoithat-section {
    padding: 50px 0;
}
.tknoithat-section .header h1{
    font-size: 34px;
}
.tknoithat-section .attribute-details h3{
    color: #143439;
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.tknoithat-section .attribute-details .attribute-item img,
.tknoithat-section .ttnt-detail .attribute-item img {
    margin-bottom: 20px;
}

.tknoithat-section h2 {
    color: #5AAA77;
    font-family: "Roboto", Sans-serif;
    font-size: 29px;
    font-weight: 600;
}
.tknoithat-section .ttnt-2 {
    margin-top: 35px;
}
.tknoithat-section .ttnt-detail .attribute-item {
    width: 100%;
    padding: 30px 0;
}

.header > h1 {
    font-size: 34px;
    font-weight: var(--font-bold);
    padding-top: var(--margin-bottom);
}

.attribute-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #cccccc;
    padding: 30px 0;
}

.attribute-details_1 {
    display: flex;
    margin-left: var(--margin-rl-width);
    margin-right: var(--margin-rl-width);
    justify-content: space-between;
    flex-wrap: wrap;
}

.attribute-item {
    width: 18%;
}

.attribute-item .img-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribute-item > .attribute-title {
    text-align: center;
}

.attribute-item > .attribute-description {
    text-align: center;
}

.qlvanhanh-section {
    background-image: url(../images/vanhanh_bgimg.jpg);
    /* margin-bottom: var(--margin-bottom); */
    padding: 50px 0;
}

.qlvanhanh-section h2 {
    font-weight: var(--font-bold);
    text-align: left;
    font-size: 22px;
    margin-bottom: 15px;
}

.vh-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.vh-details .vh-item {
    position: relative;
    margin-bottom: var(--margin-bottom);
}

.vh-item img {
    width: 100%;
    border-radius: 20px
}

.vh-item .item-description {
    position: absolute;
    bottom: 0;
    padding: 0 var(--margin-bottom);
}

.khaithac-section {
    padding: 50px 0;
}

.khaithac-section h2 {
    font-weight: var(--font-bold);
    text-align: left;
    font-size: 22px;
}

.khaithac-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.khaithac-item-image > img {
    width: 100%;
}

.khaithac-item-description li {
    margin-bottom: var(--margin-bottom);
    line-height: 1.5;
}

.qlvanhanh-section .header h1{
    font-size: 34px;
}
.qlvanhanh-section .header {
    margin-bottom: 15px;
}
.khaithac-section .header h1{
    font-size: 34px;
    margin-bottom: 25px;
}
.khaithac-section .khaithac-details .khaithac-item-description{
    margin-top: 25px;
}
.header .icon-img{
    display: flex;
    align-items: center;
    justify-content: end;
}
.tknoithat-section .attribute-details .attribute-item p{
    margin-bottom: 0;
}


/* // Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 767.98px) { 
    .attribute-item {
        width: 100%;
    }
    .header .icon-img{
        justify-content: center;
        margin-bottom: 10px;
    }
    .tknoithat-section .header h1 {
        font-size: 26px;
    }
    .tknoithat-section h2 {
        font-size: 20px;
    }
    .tknoithat-section .ttnt-detail .attribute-item h3{
        font-size: 20px;
    }
    .qlvanhanh-section .header h1 {
        font-size: 26px;
    }
    .khaithac-section .header h1 {
        font-size: 26px;
        margin-bottom: 15px;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) and (min-width: 767.98px) { 
    .tknoithat-section .header h1 {
        font-size: 22px;
    }
    .tknoithat-section h2 {
        font-size: 18px;
    }
    .tknoithat-section .attribute-details h3 {
        font-size: 16px;
    }
    .tknoithat-section .ttnt-detail .attribute-item h3{
        font-size: 18px;
    }
    .qlvanhanh-section .header h1 {
        font-size: 22px;
    }
    .khaithac-section .header h1 {
        font-size: 22px;
        margin-bottom: 0;
    }
    .khaithac-section .khaithac-details .khaithac-item-description {
        margin-top: 10px;
    }
    .khaithac-section h2 {
        font-size: 16px;
    }
    .khaithac-item-description li {
        margin-bottom: 0;
        line-height: 1.5;
        font-size: 13px;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) and (min-width: 991.98px){ 
    .tknoithat-section .header h1 {
        font-size: 30px;
    }
    .tknoithat-section h2 {
        font-size: 26px;
    }
    .tknoithat-section .ttnt-detail .attribute-item h3{
        font-size: 22px;
    }
    .qlvanhanh-section .header h1 {
        font-size: 28px;
    }
    .khaithac-section .header {
        margin-bottom: 15px;
    }
    .khaithac-section .header h1 {
        font-size: 30px;
        margin-bottom: 0;
    }
}