{% extends 'ms_master.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ms_become_partner.css' %}">
<script src="{% static 'js/ms_become_partner.js' %}"></script>
{% endblock %}

{% block body %}

<div class="become-partner-container">
    <!-- Banner Slide  -->
    <div class="bp-banner">
        <img src="{% static 'images/banner-2.jpg' %}" alt="Image">
    </div>

    <!-- Về chúng tôi  -->
    <div class="info-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="left">
                        <div class="text-center mb-2">
                            <img src="{% static 'images/become_partner/info_1_img.png' %}" alt="Image">
                        </div>
                        <div class="left-description">
                            <p>Vì thấu hiểu thời gian là tài sản vô giá nhất, chúng tôi mở tra những giải pháp khai thác tối ưu giá
                                trị bất động sản, để chủ sở hữu thảnh thơi tận hưởng thời gian của mình.
                            </p>
                            <p>Vì tôn trọng khát khao có được những trải nghiệm trọn vẹn của hàng triệu du khách, chúng tôi tạo ra
                                những kỳ nghỉ tuyệt vời ở khắp mọi nơi.
                            </p>
                            <p>Vì nắm bắt cơ hội phát triển đầy tiềm năng của thị trường du lịch, chúng tôi mang lại tích cực cho
                                cộng đồng địa phương, cho sự phát triển chung của thị trường bất động sản, nghỉ dưỡng
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="right">
                        <img src="{% static 'images/become_partner/info_1_img_1.png' %}" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quản lý khai thác  -->
    <div class="info-2">
        <img src="{% static 'images/become_partner/info_2_img.png' %}" alt="Image">
    </div>
    <!-- Giới thiệu về MapStar  -->
    
    <div class="info-3-video">
        <div class="container">
            <div class="col-12">
                <h1>GIỚI THIỆU MAPSTAR</h1>
            </div>
            <div class="col-12">
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/QUPm4hYIygw" title="GIỚI THIỆU MAPSTAR"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
<!-- MapStar App  -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>MAPSTAR APP</h1>
            </div>
            <div class="col-12">
                <div class="image">
                    <img src="{% static 'images/become_partner/info_4_img.jpg' %}" alt="Image">
                </div>
            </div>
        </div>
        <div class="row info-4">
            <div class="col-6 text-right">
                <img src="{% static 'images/become_partner/info_5_apple.jpg' %}" alt="Image">
            </div>
            <div class="col-6 text-left">
                <img src="{% static 'images/become_partner/info_5_chplay.jpg' %}" alt="Image">
            </div>
            <div class="header">
                <div class="header-container">
                    <div class="img-1">
    
                    </div>
                    <div class="img-2">
    
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
    
            </div>
        </div>
    </div>
    
    <div class="info-5">
        <div class="icon-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="icon-container-item">
                            <div class="icon">
                                <img src="{% static 'images/become_partner/info_5_icon1.png' %}" alt="Image">
                            </div>
                            <div class="description">
                                <p>Quản lý danh mục bất động sản đang thi công & vận hành – khai thác
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="icon-container-item">
                            <div class="icon">
                                <img src="{% static 'images/become_partner/info_5_icon2.png' %}" alt="Image">
                            </div>
                            <div class="description">
                                <p>Liên lạc trực tiếp với quản gia & quản lý vận hành tại địa phương
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="icon-container-item">
                            <div class="icon">
                                <img src="{% static 'images/become_partner/info_5_icon3.png' %}" alt="Image">
                            </div>
                            <div class="description">
                                <p>Theo dõi đánh giá của du khách trải nghiệm lưu trú
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="icon-container-item">
                            <div class="icon">
                                <img src="{% static 'images/become_partner/info_5_icon4.png' %}" alt="Image">
                            </div>
                            <div class="description">
                                <p>Nhận báo cáo tiến độ thi công nội thất thường xuyên
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="icon-container-item">
                            <div class="icon">
                                <img src="{% static 'images/become_partner/info_5_icon5.png' %}" alt="Image">
                            </div>
                            <div class="description">
                                <p>Theo dõi báo cáo doanh thu khai thác & lợi nhuận minh bạch
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="icon-container-item">
                            <div class="icon">
                                <img src="{% static 'images/become_partner/info_5_icon6.png' %}" alt="Image">
                            </div>
                            <div class="description">
                                <p>Đặt đêm nghỉ miễn phí của chủ sở hữu trên ứng dụng
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="icon-container-item">
                            <div class="icon">
                                <img src="{% static 'images/become_partner/info_5_icon7.png' %}" alt="Image">
                            </div>
                            <div class="description">
                                <p>Linh hoạt kiểm soát các hoạt động vận hành – khai thác từ xa
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
<!-- Giải pháp trọn gói  -->
    <div class="info-6">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>GIẢI PHÁP TRỌN GÓI</h1>
                </div>
            </div>
            <div class="details">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="detail-item">
                            <div class="icon">
                                <img class="furniture" src="{% static 'images/become_partner/info_6_icon1.png' %}" alt="Image">
                            </div>
                            <div class="image">
                                <img src="{% static 'images/become_partner/info_6_img1.jpg' %}" alt="Image">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="detail-item">
                            <div class="icon">
                                <img class="operate" src="{% static 'images/become_partner/info_6_icon2.png' %}" alt="Image">
                            </div>
                            <div class="image">
                                <img src="{% static 'images/become_partner/info_6_img2.jpg' %}" alt="Image">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="detail-item">
                            <div class="icon">
                                <img class="sale" src="{% static 'images/become_partner/info_6_icon3.png' %}" alt="Image">
                            </div>
                            <div class="image">
                                <img src="{% static 'images/become_partner/info6_img3.jpg' %}" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
<!-- Đăng ký nhận thông tin tư vấn  -->
    <div class="enter-submit">
        <div class="container">
            <div class="form-register">
                <div class="row">
                    <div class="col-12">
                        <h1>ĐĂNG KÝ NHẬN THÔNG TIN TƯ VẤN</h1>
                    </div>
                    <div class="col-12 mt-3">
                        <form action="" method="POST">
                            <div class="row">
                                <div class="form-group col-sm-3">
                                    <label>Họ và tên *</label>
                                    <input type="text" class="form-control" id="fullname" name="fullname" aria-required="true"
                                        aria-invalid="false" required>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Số điện thoại *</label>
                                    <input type="text" class="form-control" id="phone" name="phone" aria-required="true" aria-invalid="false"
                                        required>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Email</label>
                                    <input type="email" class="form-control" id="email" name="email" aria-required="true" aria-invalid="false"
                                        required>
                                </div>
                                <div class="form-group col-sm-3 sub-mit">
                                    <label> </label>
                                    <input class="btn form-control bg-success text-white" type="submit" value="ĐĂNG KÝ">
                                </div>                                
                                <div class="response-message inactive-div">
                                    <p class="response-message-value"></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}