{% extends 'ms_master.html' %}
{% load static %}

{% block header %}
    <script src="{% static 'js/ms_dashboard.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="slideshow-container">

        <div class="mySlides">
            <img src="{% static 'images/banner.jpg' %}" style="width:100%" alt="Image">
        </div>
        <!-- Bộ lọc  -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="form-booking-container">
                        <h1>Bạn muốn đến đâu?</h1>
                        <form id="booking-form" class="booking-form" action="" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="locations">
                                <ul class="location-suggest">
                                    {% for property in properties %}
                                        <li class="location-item"
                                            data-location-id="{{ property.id }}">{{ property.name }}</li>
                                    {% endfor %}
                                </ul>
                                <input class="location" id="location" name="location" type="text"
                                       placeholder="Lựa chọn điểm đến"
                                       aria-label="Location" required readonly>
                                <input id="property-id" type="hidden"/>
                            </div>
                            <input class="checkin js_date_picker" id="checkin" name="checkin" type="text"
                                   placeholder="Checkin"
                                   aria-label="Checkin" readonly>
                            <input class="checkout js_date_picker" id="checkout" name="checkout" type="text"
                                   placeholder="Checkout"
                                   aria-label="Checkout" readonly>
                            <input class="no_guest" id="no_guest" name="no_guest" type="number" placeholder="Số người"
                                   aria-label="No Guest">
                            <input class="submit" type="submit" value="Check giá"/>
                        </form>
                        <p id="reserved-booking-warning">Đã có lịch đặt phòng vào ngày này. Vui lòng chọn ngày khác!</p>
                    </div>
                </div>
            </div>
            <!-- Điểm đến  -->
            <div class="row our-dest">
                <div class="col-12">
                    <div class="our-destinations">
                        <h2 class="slider-title">ĐIỂM ĐẾN CỦA CHÚNG TÔI</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="our-destinations">
                        <div class="main-destination">
                            <img src="{{ first_special_destinations.background.url }}" alt="Destination Image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="our-destinations">
                        <div class="sub-destinations">
                            {% for destination in last_three_special_destinations %}
                                <div class="sub-child-destinations">
                                    <img src="{{ destination.background.url }}" alt="Destination Image">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row link-xt">
                <div class="col-12">
                    <a href="http://">XEM THÊM <i class="fa-solid fa-arrow-right-long"></i></a>
                </div>
            </div>

            {#  Ưu đãi#}
            <div class="carousel-backgound">

            </div>

            <div class="discount-container">
                <h2 class="box-section-title">ƯU ĐÃI HIỆN CÓ</h2>
                <div class="row blog">
                    <div class="col-md-12">
                        <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                            <ol class="carousel-indicators">
                                {% if available_coupons|get_page_number:2 > 1 %}
                                    {% for index in available_coupons|get_coupon_range:2 %}
                                        {% if forloop.counter0 == 0 %}
                                            <li data-target="#blogCarousel" data-slide-to="{{ index }}"
                                                class="active"></li>
                                        {% else %}
                                            <li data-target="#blogCarousel" data-slide-to="{{ index }}"></li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </ol>

                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                {% for coupon_list in available_coupons|split_coupons:2 %}
                                    {% if forloop.counter == 1 %}
                                        <div class="carousel-item active">
                                            <div class="row">
                                                {% for coupon in  coupon_list %}
                                                    <div class="col-md-6">
                                                        <a href="#">
                                                            <img src="{{ coupon.image.url }}" alt="Image"
                                                                 style="width:100%;">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h5>{{ coupon.name }}</h5>
                                                                <p>{{ coupon.description }}</p>
                                                            </div>
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="carousel-item">
                                            <div class="row">
                                                {% for coupon in  coupon_list %}
                                                    <div class="col-md-6">
                                                        <a href="#">
                                                            <img src="{{ coupon.image.url }}" alt="Image"
                                                                 style="width:100%;">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h5>{{ coupon.name }}</h5>
                                                                <p>{{ coupon.description }}</p>
                                                            </div>
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
