{% extends 'ms_master_short.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ms_mapstar_app.css' %}">

{% endblock %}

{% block body %}

<div class="app-container">
    <div class="app-banner">
        <img src="{% static 'images/app_mapstar/app-banner.jpg' %}" alt="App Image">
    </div>
    <div class="container">
        <div class="row video">
            <div class="col-12">
                <h1>ỨNG DỤNG MAPSTAR</h1>
                <iframe src="https://www.youtube.com/embed/LfPxrZYPJdc?si=pCmBHiQixg4O2zXU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h2>MAPSTAR APP DÀNH CHO CHỦ NHÀ</h2>
            </div>
            <div class="col-sm-3">
                <div class="image-item">
                    <img src="{% static 'images/app_mapstar/img_1.jpg' %}" alt="Image">
                    <div class="content-bottom">
                        <p>Quản lý toàn bộ danh mục bất động sản đang thi công & khai thác</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="image-item">
                    <div class="content-top">
                        <p>Nhận báo cáo & hình ảnh tiến độ thi công nội thất thường xuyên</p>
                    </div>
                    <img src="{% static 'images/app_mapstar/app_img_2.jpg' %}" alt="Image">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="image-item">
                    <img src="{% static 'images/app_mapstar/app_img_3.jpg' %}" alt="Image">
                    <div class="content-bottom">
                        <p>Linh hoạt kiểm soát các hoạt động quản lý vận hành từ xa</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="image-item">
                    <div class="content-top">
                        <p>Theo dõi báo cáo doanh thu & lợi nhuận minh bạch</p>
                    </div>
                    <img src="{% static 'images/app_mapstar/app_img_4.jpg' %}" alt="Image">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="image-item">
                    <img src="{% static 'images/app_mapstar/app_img_5.jpg' %}" alt="Image">
                    <div class="content-bottom">
                        <p>Theo dõi đánh giá & review của khách hàng trong trải nghiệm lưu trú</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="image-item">
                    <div class="content-top">
                        <p>Theo dõi tổng lượt giữ chỗ đêm nghỉ & đánh giá hiệu quả khai thác kinh doanh trực quan</p>
                    </div>
                    <img src="{% static 'images/app_mapstar/app_img_6.jpg' %}" alt="Image">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="image-item">
                    <img src="{% static 'images/app_mapstar/app_img_7.jpg' %}" alt="Image">
                    <div class="content-bottom">
                        <p>Quản lý số lượng & thực hiện đặt đêm nghỉ miễn phí của chủ sở hữu trên ứng dụng</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="image-item">
                    <div class="content-top">
                        <p>Kết nối liên lạc trực tiếp với quản gia & đội ngũ quản lý vận hành tại địa phương</p>
                    </div>
                    <img src="{% static 'images/app_mapstar/app_img_8.jpg' %}" alt="Image">
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}