{% extends 'ms_master.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ms_about_us.css' %}">

{% endblock %}

{% block body %}

<div class="au-container">
    <div class="banner">
        <img src="{% static 'images/about_us/about_us_banner.jpg' %}" alt="Banner">
    </div>

    <div class="inspiration-story">
        <div class="story-image">
            <img src="{% static 'images/about_us/avatar.png' %}" alt="Story Image">
        </div>
        <div class="story-detail-container">
            <div class="story-detail">
                <h1>CÂU CHUYỆN CẢM HỨNG THƯƠNG HIỆU</h1>
                <p>Giống như những ngôi sao không đủ lấp lánh, các sản phẩm bất động sản đã bàn giao nhưng chưa được
                    khai
                    thác xứng tầm sẽ không đem đến giá trị bền vững.</p>
                <p>Bất động sản vẫn luôn được ví như dấu ấn cho sự nỗ lực bền bỉ của chủ sở hữu nhưng đôi khi chưa được
                    chăm
                    sóc & quản lý chuyên nghiệp để rực sáng như giá trị thực của nó.
                </p>
                <p>Thấu hiểu vấn đề đó, MapStar ra đời tiên phong kiến tạo bộ giải pháp trọn gói nhằm khai thác các sản
                    phẩm
                    bất động sản một cách tối ưu, để chủ sở hữu thảnh thơi tận hưởng thành quả và gia tăng giá trị tài
                    sản
                    đó.
                </p>
            </div>
        </div>
    </div>

    <div class="roadmap-section">
        <img src="{% static 'images/about_us/roadmap.png' %}" alt="Roadmap">
    </div>

    <div class="vision-section">
        <div class="vision-container">
            <div class="vision-image">
                <img src="{% static 'images/about_us/vision-image.png' %}" alt="Image">
            </div>
        </div>
        <div class="box-section">
            <div class="box-section-container">
                <div class="box-section-image">
                    <img src="{% static 'images/tamnhin_1.jpg' %}" alt="Image">
                </div>

                <div class="box-section-image">
                    <img src="{% static 'images/tamnhin_2.jpg' %}" alt="Image">
                </div>

                <div class="box-section-image">
                    <img src="{% static 'images/tamnhin_3.jpg' %}" alt="Image">
                </div>

            </div>
        </div>
    </div>

    <div class="star-gen-section">
        <div class="star-gen-image">
            <img src="{% static 'images/about_us/star-gen.png' %}" alt="Star Gen Image">
        </div>

        <div class="sg-leaders">
            <div class="leader-item">
                <div class="item-title">
                    <img src="{% static 'images/about_us/tgd_avt.jpg' %}" alt="Avatar">
                    <h3>MR. HOA TRUNG HIẾU</h3>
                    <h4>TỔNG GIÁM ĐỐC</h4>
                </div>
                <div class="item-info">
                    <p class="title">Trình độ</p>
                    <ul>
                        <li>Cử nhân chuyên ngành Kỹ sư Dầu khí và ngành Toán học tại Đại học Tulsa, Oklahoma, Mỹ</li>
                        <li>Thạc sỹ chuyên nghành Tài chính tại Đại học Nottingham Trent, Vương Quốc Anh</li>
                    </ul>
                    <p class="title">Các chức vụ từng đảm nhận</p>
                    <ul>
                        <li>Giám đốc Sản phẩm tại BHS Group, triển khai nhiều dự án nghỉ dưỡng tại: Quảng Ninh, Đà Nẵng,
                            Quảng Nam, Phú Quốc,…
                        </li>
                        <li>Tổng Giám Đốc tại Now Consulting – Doanh nghiệp cung cấp giải pháp thanh khoản BĐS cho các
                            ngân hàng
                        </li>
                        <li>Đồng sáng lập & COO tại Housenow – Hệ sinh thái Công nghệ Bất động sản
                        </li>
                    </ul>
                </div>
            </div>

            <div class="leader-item">
                <div class="item-title">
                    <img src="{% static 'images/about_us/gd_vh_avt.jpg' %}" alt="Avatar">
                    <h3>MR. NGUYỄN QUANG</h3>
                    <h4>GIÁM ĐỐC VẬN HÀNH</h4>
                </div>
                <div class="item-info">
                    <p class="title">Danh hiệu & Thành tựu</p>
                    <ul>
                        <li>Chủ tịch CLB Quản lý Housekeeping Việt Nam (VEHA)</li>
                        <li>Thành viên sáng lập Hiệp hội quản lý Housekeeping Châu Á (AHA)</li>
                        <li>Nguyên Tổng thư ký – Hiệp hội Đào tạo Du lịch Việt Nam</li>
                        <li>Giảng viên VTOS Master Trainer Thẩm định viên VTCB</li>
                    </ul>
                    <p class="title">Chuyên gia với hơn 20 năm kinh nghiệm trong lĩnh vực quản lý các khách sạn 5 sao
                        thuộc các Tập đoàn khách sạn quốc tế</p>
                    <ul>
                        <li>Nguyên Tổng quản lý khách sạn Grand K Hotel Suite Hanoi
                        </li>
                        <li>Nguyên Giám đốc phụ trách khối Lưu trú Flamingo Đại lải Resort.
                        </li>
                        <li>Nguyên Giám đốc khối Bộ phận Buồng khách sạn Sheraton Hanoi, khách sạn Sofitel Plaza Hanoi,
                            khách sạn Horison Hanoi.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="leader-item">
                <div class="item-title">
                    <img src="{% static 'images/about_us/pgd_vh_avt.jpg' %}" alt="Avatar">
                    <h3>MR. TRẦN NGỌC LƯƠNG</h3>
                    <h4>PHÓ GIÁM ĐỐC VẬN HÀNH</h4>
                </div>
                <div class="item-info">
                    <p class="title">Hơn 40 năm kinh nghiệm trong lĩnh vực tổ chức, quản lý, vận hành khách sạn</p>
                    <p class="title">Các chức vụ từng đảm nhận</p>
                    <ul>
                        <li>Phó Tổng Giám Đốc Điều hành & Nhân sự trong hệ thống tập đoàn khách sạn Mường Thanh: Tổ chức
                            khai trương hơn 35 khách sạn và Quản lý hơn 50 khách sạn trong hệ thống
                        </li>
                        <li>Giám đốc Nhân Sự kiêm</li>
                        <li>Giám đốc An Ninh khách sạn Hilton Opera Hanoi</li>
                        <li>Tham gia xây dựng các bộ tiêu chuẩn nghề khách sạn cho ngành Du lịch Việt Nam và các nước
                            APEC
                        </li>
                    </ul>
                </div>
            </div>

            <div class="leader-item">
                <div class="item-title">
                    <img src="{% static 'images/about_us/gd_cn.jpg' %}" alt="Avatar">
                    <h3>MR. PHAN VĂN HƯNG</h3>
                    <h4>GIÁM ĐỐC CÔNG NGHỆ</h4>
                </div>
                <div class="item-info">
                    <p class="title">30 năm kinh nghiệm trong lĩnh vực Công nghệ thông tin</p>
                    <p class="title">Các chức vụ từng đảm nhận</p>
                    <ul>
                        <li>Giám đốc xuất khẩu phần mềm FPT
                        </li>
                        <li>Giám đốc công nghệ tập đoàn CenGroup</li>
                        <li>Giám đốc công nghệ tập đoàn BHS Group</li>
                        <li>Giám đốc công nghệ Tomotech
                        </li>
                    </ul>
                </div>
            </div>

            <div class="leader-item">
                <div class="item-title">
                    <img src="{% static 'images/about_us/ql_thicong.jpg' %}" alt="Avatar">
                    <h3>MR. NGUYỄN TUẤN ANH</h3>
                    <h4>TRƯỞNG BAN QUẢN LÝ THI CÔNG</h4>
                </div>
                <div class="item-info">
                    <p class="title">20 Năm kinh nghiệm quản lý & Giám sát thi công</p>
                    <p class="title">Chuyên ngành:</p>
                    <ul>
                        <li>Xây dựng dân dụng & công nghiệp
                        </li>
                    </ul>
                    <p class="title">Các chức vụ từng đảm nhận</p>
                    <ul>
                        <li>Công ty cổ phần Austnam: Kỹ sư Thiết kế, Kỹ sư Quản lý dự án</li>
                        <li>Công ty TNHH An Quý Hưng: Quản lý dự án, Trưởng phòng kế hoạch – dự án</li>
                        <li>Phó Tổng giám đốc phụ trách khối xây dựng</li>
                    </ul>
                </div>
            </div>

            <div class="leader-item">
                <div class="item-title">
                    <img src="{% static 'images/about_us/thietke_avt.jpg' %}" alt="Avatar">
                    <h3>MRS. NGUYỄN THU TRANG</h3>
                    <h4>TRƯỞNG BAN THIẾT KẾ</h4>
                </div>
                <div class="item-info">
                    <p class="title">10 năm kinh nghiệm trong lĩnh vực sáng tạo thiết kế</p>
                    <p class="title">Trình độ</p>
                    <ul>
                        <li>Thạc sỹ, kiến trúc sư</li>
                        <li>Cử nhân ngành Thiết kế kiến trúc & quy hoạch ĐHXD Hà Nội (NUCE)</li>
                        <li>Thạc sỹ Quản lý & phát triển BĐS – Đại học quốc gia Singapore (NUS)</li>
                    </ul>
                    <p class="title">Các chức vụ từng đảm nhận</p>
                    <ul>
                        <li>Trưởng phòng ý tưởng Vinhomes</li>
                        <li>Giám đốc PR & MKT FLC Biscom</li>
                        <li>Trưởng Ban PR & MKT Tập đoàn Nam Cường</li>
                        <li>Giám đốc sáng tạo CenGroup</li>
                    </ul>
                    <p class="title">Giải thưởng</p>
                    <ul>
                        <li>Top 10 Giải Ecodesign</li>
                        <li>Giải ba triểm lãm kiến trúc Quốc tế VietArc</li>
                        <li>Giải nhất biểu trưng Festival Sv Kiến trúc</li>
                    </ul>
                </div>
            </div>

            <div class="leader-item">
                <div class="item-title">
                    <img src="{% static 'images/about_us/gd_sale_avt.jpg' %}" alt="Avatar">
                    <h3>MR. NGUYỄN HẢI BÌNH</h3>
                    <h4>GIÁM ĐỐC SALES & MKT</h4>
                </div>
                <div class="item-info">
                    <p class="title">27 năm kinh nghiệm trong lĩnh vực du lịch khách sạn</p>
                    <ul>
                        <li>Quản lý kinh doanh tại chuỗi hệ thống Resort & khách sạn 4* – 5*: Victoria Sapa Resort; Rosa
                            Alba
                            Hotel – Tuy Hòa; Cao Hotel – Vũng tàu; Lady Hill Sapa Resort; KK Sapa Hotel; Ivory Villas &
                            Resort;
                            Chau Long Sapa Hotel
                        </li>
                    </ul>
                    <p class="title">Các chức vụ từng đảm nhận</p>
                    <ul>
                        <li>Trưởng bộ phận tiền sảnh</li>
                        <li>Giám đốc điều hành</li>
                        <li>Giám đốc khách sạn</li>
                        <li>Giám đốc kinh doanh & tiếp thị</li>
                    </ul>
                </div>
            </div>

            <div class="leader-item">
                <div class="item-title">
                    <img src="{% static 'images/about_us/gd_kd_avt.jpg' %}" alt="Avatar">
                    <h3>MR. LÊ ĐÌNH TOÀN</h3>
                    <h4>GIÁM ĐỐC KINH DOANH ỦY THÁC</h4>
                </div>
                <div class="item-info">
                    <p class="title">10 năm quản lý kinh doanh tại các đơn vị phân phối BĐS</p>
                    <p class="title">4 năm quản lý kinh doanh tại đơn vị phát triển kinh doanh BĐS</p>
                    <p class="title">Các chức vụ từng đảm nhận</p>
                    <ul>
                        <li>Chuyên viên tư vấn cao cấp, Trưởng phòng kinh doanh, Giám đốc kinh doanh
                        </li>
                        <li>Giám đốc quản lý đại lý, Giám đốc quản lý đại lý cao cấp, Cố vấn kinh doanh cho HĐQT</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="sg-generations">
            <img src="{% static 'images/about_us/sg-generations.jpg' %}" alt="Generations">
        </div>
    </div>

</div>

{% endblock %}