{% load static %}
<!DOCTYPE html>
<html lang="vi">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ms_dashboard.css' %}">
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="{% static 'images/footer_logo.png' %}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/88fb476dae.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/ms_master.js' %}"></script>

    <title>Mapstar Booking</title>
    {% block header %}
    {% endblock %}
</head>

<body>
<div class="w-100">
    <div class="container-fluid">
        <nav class="navigationWrapper" id="navbar">
            <div id="logo">
                <div class="header-image">
                    <img src="{% static 'images/logo.png' %}" alt="Mapstar Logo">
                </div>
            </div>

            <div id="menuToggle">
                <input type="checkbox"/>
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <li><a href="/booking-step">Điểm đến</a></li>
                    <li><a href="/become-partner">Hợp tác cùng MapStar</a></li>
                    <li><a href="/mapstar-services">Dịch vụ</a></li>
                    <li><a href="/mapstar-app">App Mapstar</a></li>
                    <li><a href="/about-us">Về chúng tôi</a></li>
                    <li><a href="/mapstar-recruitments/?page=1">Tuyển dụng</a></li>
                    <li><a href="/mapstar-contact">Liên hệ</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="/logout">Đăng xuất</a></li>
                    {% else %}
                        <li><a href="/login">Đăng nhập</a></li>
                        <li><a href="/signup">Đăng ký</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="navigation">
                <div class="dropdown parent">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Điểm đến
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for destination in destinations %}
                            <a class="dropdown-item"
                               href="/booking-step?destination-id={{ destination.id }}">{{ destination.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="parent"><a class="link" href="/become-partner">Hợp tác cùng MapStar</a></div>
                <div class="parent"><a class="link" href="/mapstar-services">Dịch vụ</a></div>
                <div class="parent"><a class="link" href="/mapstar-app">App MapStar</a></div>
                <div class="parent"><a class="link" href="/about-us">Về chúng tôi</a></div>
            </div>

            <div class="login-area">
                <div class="parent"><a class="link" href="/mapstar-recruitments/?page=1">Tuyển dụng</a></div>
                <div class="parent"><a class="link" href="/mapstar-contact">Liên hệ</a></div>
                <div class="parent" id="company-phone-menu">
                    <img src="{% static 'images/phone_icon_header.png' %}" alt="Phone">
                    08.1900.6966
                </div>
                {% if not user.is_authenticated %}
                    <div class="parent account-area-menu">
                        <a class="link" href="/login">Đăng nhập</a>
                        |
                        <a class="link" href="/signup">Đăng ký</a>
                    </div>
                {% endif %}
                {% if user.is_authenticated %}
                    <div class="login-icon">
                        <img class="login-icon-img" src="{% static 'images/user_1.png' %}" alt="User">
                        <p class="user-name">{{ user.username }}</p>

                        <ul class="login-submenu">
                            <li><a href="/my-booking">Quản lý đặt phòng</a></li>
                            {% if user.is_staff %}
                                <li><a href="/applicants/?page=1">Thông tin ứng viên</a></li>
                            {% endif %}
                            <li><a href="/logout">Đăng xuất</a></li>
                        </ul>

                    </div>
                {% endif %}
            </div>
        </nav>
    </div>

    {% block body %}
    {% endblock %}

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="logo">
                        <img src="{% static 'images/footer_logo.png' %}" alt="Mapstar Logo">
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-12 address">
                            <h3>CÔNG TY CỔ PHẦN MAPSTAR</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 address">
                            <div class="address">
                                <img src="{% static 'images/location.png' %}" alt="Facebook">
                                <span> Tầng 2 - Thanh Xuân Complex, số 6 Lê Văn Thiêm, Thanh Xuân, Hà Nội.</span>
                            </div>
                        </div>
                        <div class="col-sm-5 address">
                            <div class="contact">
                                <img src="{% static 'images/phone.png' %}" alt="Facebook">
                                <span>08.1900.6966</span><br>
                                <img src="{% static 'images/email.png' %}" alt="Facebook">
                                <span>info@mapstar.vn</span>
                            </div>
                        </div>
                        <div class="col-sm-3 address">
                            <div class="social-list">
                                <div class="social-item facebook">
                                    <a href="https://www.facebook.com/venusresortbymapstar">
                                        <img src="{% static 'images/fb_icon.png' %}" alt="Facebook">
                                    </a>
                                </div>
                                <div class="social-item youtube">
                                    <a href="">
                                        <img src="{% static 'images/youtube_icon.png' %}" alt="Youtube">
                                    </a>
                                </div>
                                <div class="social-item tiktok">
                                    <a href="https://www.tiktok.com/@venusresort_flamingo">
                                        <img src="{% static 'images/tiktok_icon.png' %}" alt="Tiktok">
                                    </a>
                                </div>
                                <div class="social-item zalo">
                                    <a href="">
                                        <img src="{% static 'images/zalo_icon.png' %}" alt="Zalo">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="left d-flex justify-content-start">
                        <a href="/mapstar-contact">Liên hệ</a>
                        <a href="/common-question" class="border-footer">Câu hỏi thường gặp</a>
                        <a href="" class="border-footer">Chính sách hợp tác</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="right">
                        <span>© 2023 MapStar All right reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>