{% extends 'ms_master.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ms_mapstar_contact.css' %}">
<script src="{% static 'js/ms_mapstar_contact.js' %}"></script>

{% endblock %}

{% block body %}

<div class="contact-container">
    <div class="contact-banner">
        <img src="{% static 'images/contact_mapstar/contact_banner.jpg' %}" alt="Contact Banner">
    </div>

    <div class="mapstar-location">
        <iframe class="geolocation"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.818455532646!2d105.80223807499979!3d20.99991318876926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acbd4dd67d85%3A0x58059c56756dbf77!2sThanh%20Xu%C3%A2n%20Complex!5e0!3m2!1svi!2s!4v1700625010426!5m2!1svi!2s"
                width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="contact-detail-section">
        <div class="contact-info">
            <h3>CÔNG TY CỔ PHẦN MAPSTAR</h3>
            <div class="info">
                <div class="icon">
                    <img src="{% static 'images/contact_mapstar/address_icon.png' %}" alt="Icon">
                </div>
                <div class="detail">
                    <p>Tầng 2, Thanh Xuân Complex, Số 6 Lê Văn Thiêm, Thanh Xuân, Hà Nội</p>
                </div>
            </div>
            <div class="info">
                <div class="icon">
                    <img src="{% static 'images/contact_mapstar/phone_icon.png' %}" alt="Icon">
                </div>
                <div class="detail">
                    <p>08.1900.6966</p>
                </div>
            </div>
            <div class="info">
                <div class="icon">
                    <img src="{% static 'images/contact_mapstar/mail_icon.png' %}" alt="Icon">
                </div>
                <div class="detail">
                    <p>info@mapstar.vn</p>
                </div>
            </div>
        </div>
        <div class="contact-form">
            <h3>LIÊN HỆ VỚI CHÚNG TÔI</h3>
            <div class="form">
                <form id="contact-form" action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="first-row">
                        <div class="input-container">
                            <input type="text" class="contact-input fullname" id="fullname" name="fullname" aria-required="true"
                                   aria-invalid="false" placeholder="Họ và tên" required>
                        </div>

                        <div class="input-container">
                            <input type="text" class="contact-input phone-number" id="phone-number" name="phone-number" aria-required="true"
                                   aria-invalid="false" placeholder="Điện thoại" required>
                        </div>

                        <div class="input-container">
                            <input type="email" class="contact-input email" id="email" name="email" aria-required="true"
                                   aria-invalid="false" placeholder="Email" required>
                        </div>
                    </div>

                    <div class="second-row">
                        <div class="input-container">
                            <input type="textarea" class="contact-input request" id="request" name="request" aria-required="true"
                                   aria-invalid="false" placeholder="Nội dung" required>
                        </div>
                        <div class="submit-button">
                            <input class="form-submit" type="submit" value="ĐĂNG KÝ">
                        </div>
                    </div>

                    <div class="response-message inactive-div">
                        <p class="response-message-value"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}