:root {
    --step-title-color: #cccccc;
    --step-item-sequence-width: 40px;
    --font-bold: 600;
    --property-info-margin: 60px;
    --input-width: 200px;
    --input-width-for-mobile: 100%;
    --bs-border-radius: 20px;
    --bs-border-color: 1px solid #cccccc;
    --bs-padding-size: 20px;
    --pcc-input-height: 36px;
    --bs-background-color: #5aaa77;
}

#loading {
    display: none;
}

.booking-step-container img {
    width: 100%;
    object-fit: cover;
}

.bs-banner img {
    height: 300px;
    padding-top: var(--navbar-height);
}

.booking-step-state {
    display: flex;
    margin-left: var(--margin-rl-width);
    margin-right: var(--margin-rl-width);
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.bs-item {
    position: relative;
}

.bs-item .item-sequence {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-sequence > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--step-item-sequence-width);
    height: var(--step-item-sequence-width);
    border-radius: 50%;
    background-color: var(--step-title-color);
    color: #ffffff;
}

.item-sequence img {
    width: var(--step-item-sequence-width);
}

.bs-item .item-title {
    text-align: center;
    color: var(--step-title-color);
}

.active-booking-step > .item-sequence > div {
    background-color: black;
    animation: 0.6s linear active-booking-step-animation forwards;
}

@keyframes active-booking-step-animation {
    from {
        background-color: var(--step-title-color);
    }
    to {
        background-color: black;
    }
}

.active-booking-step > .item-title {
    color: black;
    animation: 0.6s linear active-booking-step-animation-color forwards;
}

@keyframes active-booking-step-animation-color {
    from {
        color: #ffffff;
    }
    to {
        color: black;
    }
}


.booking-step-state .icon > img {
    width: var(--step-item-sequence-width);
}

.bs-detail {
    background-color: var(--background-color);
}

.bs-detail-container {
    padding-bottom: var(--bs-padding-size);
}

.bs-detail-container > .form-booking-container {
    position: relative !important;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c8e0e0;
}

.location-suggest.active {
    top: 46px;
}

#reserved-booking-warning {
    display: none;
    color: red;
}

.booking-step-container .booking-form {
    width: 80%;
    justify-content: space-evenly !important;
}

.booking-step-container .booking-form > input, .booking-step-container #location {
    background-color: white;
}

.booking-step-container .booking-form .locations {
    position: relative;
}

.checkin-checkout-div input#checkin {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.checkin-checkout-div input#checkout {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.booking-form input {
    width: 24%;
}

.location-suggest {
    top: 31px;
    border-radius: 0px 0px 4px 4px;
}

.booking-step-container .booking-form .submit {
    color: #ffffff;
    background-color: var(--bs-background-color) !important;
    border-radius: 4px;
}

.bs-property-detail {
    margin-bottom: var(--navbar-height);
    display: flex;
    justify-content: center;
}

.bs-property-detail-container {
    width: 900px;
}

.property-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.property-header h3 {
    text-align: start;
}

.header-items {
    display: flex;
    justify-content: space-between;
}

.header-items .item {
    display: flex;
    align-items: center;
    margin: 20px;
    margin-top: 0;
}

.header-items .item .icon {
    padding-left: 4px;
    padding-right: 4px;
}

.header-items .item .detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-items .item .detail p {
    margin: 0;
}

.header-items .icon.person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-items .icon > img {
    width: auto;
}

.images-slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.images-slider .image-div {
    display: flex;
    width: 900px;
    overflow: hidden;
}

.images-slider .image-div img {
    width: 900px;
}

.images-slider .back-icon, .bs-property-detail .next-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.images-slider .back-icon > img, .bs-property-detail .next-icon > img {
    width: var(--step-item-sequence-width);
}

.bs-services {
    display: flex;
    justify-content: space-between;
    margin-top: var(--property-info-margin);
    margin-bottom: var(--property-info-margin);
}

.bs-services .special-services {
    width: 33%;
}

.bs-services h3, .cancel-conditional h3 {
    text-align: start;
    font-weight: var(--font-bold);
}

.other-services {
    width: 33%;
    padding-left: 20px;
    padding-right: 20px;
}

.cancel-conditional {
    width: 33%;
}

.next-step-button {
    display: flex;
    justify-content: flex-end;
}

.total-amount {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 20px;
    padding: var(--bs-padding-size);
    margin-top: var(--property-info-margin);

}

.total-amount > .title {
    padding-left: 20px;
    border-left: 1px solid #cccccc;
}

.total-amount .value {
    font-size: 24px;
    color: var(--bs-background-color);
}

#extra-service-button {
    height: 40px;
    width: 100px;
    border: 0;
    outline: none;
    border-radius: 8px;
    background-color: var(--bs-background-color);
    color: #ffffff;
}

.bs-extra-services-container {
    display: flex;
    justify-content: space-between;
    margin-left: var(--margin-rl-width);
    margin-right: var(--margin-rl-width);
}

.bs-extra-services-container p {
    font-size: 14px;
}

.bs-extra-services-container > .extra-services-list {
    overflow: auto;
}

.fee-info {
    width: 54%;
}

.fee-info .detail {
    margin-top: 20px;
    border: 1px solid black;
    padding: var(--bs-padding-size);
    border-radius: 20px;
}

.fee-info .detail > h3 {
    padding-bottom: var(--bs-padding-size);
    border-bottom: 1px solid black;
}

.fee-info .datetime-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.fee-info h3 {
    text-align: start;
    font-weight: var(--font-bold);
}

.total-price-section {
    align-items: center;
    padding: var(--bs-padding-size);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #fff;
}

.total-price-section .price-detail {
    border-bottom: 1px solid black;
}

.price-detail .price-detail-info {
    display: flex;
    justify-content: space-between;
}

.total-price-section .footer-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.total-price-section #total-price {
    text-align: start;
    font-weight: var(--font-bold);
    color: var(--bs-background-color);
    font-size: 28px !important;
}

.payment-button {
    display: flex;
    justify-content: end;
}

.payment-button #button-back-step2 {
    width: 30%;
    margin-right: 10px;
    border-radius: 8px;
}

.payment-button > #payment-button {
    width: 30%;
    height: 40px;
    background-color: var(--bs-background-color);
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 8px;
}

.extra-services-list {
    width: 44%;
}

.extra-services-list h2 {
    padding: var(--bs-padding-size);
    padding-left: 0;
    text-align: start;
    font-weight: var(--font-bold);
}

.extra-services-list .es-item {
    display: flex;
    justify-content: space-between;
    padding: var(--bs-padding-size) var(--bs-padding-size) var(--bs-padding-size) 0;
    border-bottom: 1px solid black;
}

.bs-payment-confirmation-container .pcc-info {
    margin-left: var(--margin-rl-width);
    margin-right: var(--margin-rl-width);
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

#pcc-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#pcc-form > h3 {
    text-align: start;
}

.pcc-info .pcc-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.pcc-input > input {
    height: var(--pcc-input-height);
    padding: 4px;
    margin: 4px;
    border: var(--bs-border-color);
    border-radius: 4px;
    outline: none;
    width: var(--input-width);
}

.pcc-input > textarea {
    height: 66px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    outline: none;
    margin: 4px;
    width: var(--input-width);
}

.pcc-input .required-icon {
    color: red;
}

.payment-method-section {
    width: 36%;
    background-color: #fff;
    padding: var(--bs-padding-size);
    border-radius: var(--bs-border-radius);
}

.payment-method-section h3 {
    text-align: start;
    font-weight: var(--font-bold);
    padding-left: 10px;
}

.payment-methods .pm-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: var(--bs-border-color);
}

#qr-code-img {
    display: none;
    justify-content: center;
}

#qr-code-img img {
    width: auto;
}

.pm-item img {
    width: 40px;
    margin: 10px;
}

.payment-bill-container {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.payment-bill {
    background-color: #fff;
    border-radius: var(--bs-border-radius);
    padding: var(--bs-padding-size);
    height: 80%;

}

.payment-bill div.form-inline {
    flex-wrap: nowrap;
    height: var(--pcc-input-height);
    justify-content: space-between;
    margin-bottom: 20px;

}

.payment-bill div.form-inline .form-group {
    width: 58%;
}

.payment-bill div.form-inline .form-group.button {
    width: 40%;
    height: var(--pcc-input-height);
}

.payment-bill div.form-inline .form-group input {
    width: 100%;
    font-size: 14px;
}

.payment-bill div.form-inline .form-group button, .payment-bill div.form-inline .form-group button:active {
    width: 100%;
    background-color: var(--bs-background-color);
    outline: none;
    height: var(--pcc-input-height);
}


.payment-bill .footer-section {
    margin-top: 20px;
}

.payment-bill .price-detail {
    border-bottom: var(--bs-border-color);
}

.payment-bill h2 {
    text-align: start;
    color: var(--bs-background-color);
    font-weight: var(--font-bold);
    font-size: 24px !important;
}

.payment-bill h3 {
    text-align: start;
}

.submit-payment-button {
    padding-top: var(--bs-padding-size);
}

#submit-payment-button {
    width: 100%;
    height: 40px;
    background-color: var(--bs-background-color);
    border: none;
    outline: none;
    border-radius: 8px;
    color: #ffffff;
}

.bs-booking-confirm-container {
    display: none;
    padding: 60px;
}

.bs-booking-confirm {
    margin-left: var(--margin-rl-width);
    margin-right: var(--margin-rl-width);
    width: 50%;
    text-align: center;
}

.success-tick-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-tick-symbol > img {
    width: 80px;
}

.bs-booking-confirm .company-name-info {
    color: var(--bs-background-color);
}

.redirect-menu {
    display: flex;
    justify-content: space-between;
}

.redirect-menu button {
    min-width: 40%;
    min-height: 40px;
    border-radius: 4px;
    font-size: 14px;
}

#return-home-page {
    border: 2px solid var(--bs-background-color);
    color: var(--bs-background-color);
    background-color: #ffffff;
}

#detail-booking-form {
    background-color: var(--bs-background-color);
    border: none;
    color: #ffffff;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */
{
    filter: invert(100%);
}

.reservedBookingWarningPaymentMethod {
    display: none;
    color: red;
}

.reservedBookingWarningFinal {
    display: none;
    color: red;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 767.98px) {
    .booking-step-state {
        margin-left: 0;
        margin-right: 0;
        align-items: flex-start;
    }

    .form-booking-container {
        padding: 0;
    }

    form#booking-form input {
        width: 100%;
    }

    .location-suggest.active {
        width: 300px;
    }

    .booking-step-container .booking-form .submit {
        border-radius: 0;
    }

    .total-amount {
        flex-direction: column;
        align-items: center;
    }

    .total-amount > .title {
        border-left: none;
        padding-left: 0;
    }

    .total-amount p.title {
        text-align: center;
    }

    .bs-services {
        flex-direction: column;
        align-items: center;
    }

    .bs-services .other-services {
        padding: 0;
    }

    .bs-services .special-services, .bs-services .other-services, .bs-services .cancel-conditional {
        width: 80%;
    }

    .bs-services p {
        text-align: start;
    }

    .next-step-button {
        justify-content: center;
    }

    .total-price-section .footer-section {
        flex-direction: column;
    }

    .bs-extra-services-container {
        flex-direction: column;
        margin-left: 40px;
        margin-right: 40px;
    }

    .extra-services-list {
        width: 100%;
    }

    .fee-info {
        width: 100%;
    }

    .bs-payment-confirmation-container .pcc-info {
        flex-direction: column;
        margin-left: 40px;
        margin-right: 40px;
    }

    .payment-method-section {
        width: 100%;
        margin-top: 40px;
    }

    .payment-methods .pm-item {
        justify-content: start;
    }

    .pcc-input > input {
        width: var(--input-width-for-mobile);
    }

    .pcc-input > textarea {
        width: var(--input-width-for-mobile);
    }

    .payment-method-section h3 {
        text-align: center;
    }

    .payment-bill-container {
        width: 100%;
        margin-top: 40px;
    }

    .bs-booking-confirm {
        width: 80%;
    }

    .bs-services h3 {
        text-align: center;
    }

    .checkin-checkout-div input#checkin {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .checkin-checkout-div input#checkout {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }


}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) and (min-width: 767.98px) {
    .booking-step-container .booking-form .submit {
        border-radius: 0;
    }

    .checkin-checkout-div input#checkin {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .checkin-checkout-div input#checkout {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .bs-payment-confirmation-container .pcc-info {
        flex-direction: column;
        margin-left: 40px;
        margin-right: 40px;
    }

    .payment-method-section {
        width: 100%;
        margin-top: 40px;
    }

    .payment-methods .pm-item {
        justify-content: center;
    }

    .pcc-input > input {
        width: var(--input-width-for-mobile);
    }

    .pcc-input > textarea {
        width: var(--input-width-for-mobile);
    }

    .payment-method-section h3 {
        text-align: center;
    }

    .payment-bill-container {
        width: 100%;
        margin-top: 40px;
    }

    .bs-booking-confirm {
        width: 80%;
    }

    .bs-services h3 {
        text-align: center;
    }

    .checkin-checkout-div input#checkin {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .checkin-checkout-div input#checkout {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }


}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) and (min-width: 991.98px) {
    #pcc-form {
        width: 30%;
    }

    .payment-bill-container {
        width: 33%;
    }

    .payment-bill div.form-inline {
        flex-direction: column;
        margin-bottom: 80px;
    }

    .payment-bill div.form-inline .form-group {
        width: 100%;
        margin-bottom: 20px;
    }

    .payment-bill div.form-inline .form-group.button {
        width: 100%;
    }

}

@media (min-width: 1199.98px) {
    .booking-step-state {
        margin-left: 120px;
        margin-right: 120px;
    }

    .bs-payment-confirmation-container .pcc-info {
        margin-left: 120px;
        margin-right: 120px;
    }
}





