<div class="available-reservation" style="display: block">
    <h1>AVAILABLE</h1>
    <div class="ar-top">
        <div class="left">
            <h3>{{property_id.name}}</h3>
            <div class="detail">

            </div>
        </div>
        <div class="right">
            <p><span class="overnight-count">{{overnight_count}}</span> đêm, <span class="max-adults">{{property_id.max_adults}} người lớn</span></p>
            <p class="total-amount">
                <span id="total-amount">{{total_amount}}</span>
                <span class="fb-price-currency">₫</span>
            </p>
        </div>
    </div>

    <div class="ar-bottom">
        <div class="bottom-left">
            {% for property_condition in property_conditions %}
            <div class="property-conditions">
                <img class="condition-icon" src="{{property_condition.icon.url}}"/>
                <p>{{property_condition.title}}</p>
            </div>
            {% endfor %}
        </div>

        <div class="bottom-right">
            <button class="booking-button" onClick="onClickBooking()">Chọn</button>
        </div>
    </div>

</div>