<div class="bs-payment-confirmation-container">
    <div class="pcc-info">
        <input id="final-pay" type="hidden" value="{{ final_pay }}">
        <form action="" method="POST" id="pcc-form">
            {% csrf_token %}
            <h3>Thông tin người đặt</h3>
            <div class="pcc-input fullname">
                <label for="fullname">Họ tên</label>
                <input type="text" id="fullname" name="fullname" value="{{ user.mscustomer.name }}">
            </div>

            <div class="pcc-input email">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="{{ user.email }}">
            </div>

            <div class="pcc-input phone">
                <label for="phone">Số điện thoại <span class="required-icon">(*)</span></label>
                <input type="text" id="phone" name="phone" required value="{{ user.mscustomer.phone }}">
            </div>

            <div class="pcc-input customer-request">
                <label for="customer-request">Ghi chú (Tùy chọn)</label>
                <textarea type="text" id="customer-request" name="customer-request"></textarea>
            </div>

        </form>
        <div class="payment-method-section">
            <h3>Thanh toán</h3>
            <div id="qr-code-img">
                <img src="{{ payment_methods | bs_get_qr_code_image_url }}" alt="QR Code">
            </div>
            <div class="payment-methods">
                {% for payment_method in payment_methods %}
                    <div class="pm-item">
                        <div class="pm-item-input">
                            <input id="{{ payment_method.code }}" name="payment-method" class="payment-method"
                                   onClick="onClickPaymentMethod()" type="radio"
                                   value="{{ payment_method.code }}">
                            <label for="{{ payment_method.code }}">{{ payment_method.name }}</label><br>
                        </div>
                        {% if payment_method.image %}
                            <img src="{{ payment_method.image.url }}" alt="Payment Method Icon">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="payment-bill-container">
            <div class="payment-bill">
                <div class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" id="payment-bill-voucher-code" placeholder="Mã ưu đãi">
                    </div>
                    <div class="form-group button">
                        <button id="voucher-code-submit" onClick="onClickVoucherSubmit()"
                                class="btn btn-primary voucher-code-submit">Áp dụng
                        </button>
                    </div>
                </div>
                <div class="price-detail">
                    <div class="price-detail-info">
                        <p>Giá thuê</p>
                        <p>{{ total_amount | bs_extra_service_calculate_price }}<span class="fb-price-currency">₫</span>
                        </p>
                    </div>
                    {% for item in extra_services_adds %}
                        <div class="price-detail-info">
                            <p>{{ item.name }}</p>
                            <p>{{ item.price | bs_extra_service_calculate_price_total_nights:total_nights }}<span
                                    class="fb-price-currency">₫</span>
                            </p>
                        </div>
                    {% endfor %}
                </div>
                <div class="footer-section">
                    <div class="title">
                        <h5>Tổng giá</h5>
                        <h2><span id="total-price">{{ final_pay | bs_extra_service_calculate_price }}</span><span
                                class="fb-price-currency">₫</span>
                        </h2>
                        <p>(Đã bao gồm VAT)</p>
                    </div>

                </div>
            </div>

            <div class="submit-payment-button">
                <button id="submit-payment-button" onClick="onClickPaymentConfirmation()"> THANH TOÁN NGAY</button>
            </div>
            <p class="reservedBookingWarningFinal">Đã có lịch đặt phòng vào ngày này.</p>
            <div id="loading" class="justify-content-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden"></span>
                </div>
            </div>
        </div>
    </div>
</div>