:root {
    --margin-bottom: 20px;
    --font-bold: 600;
    --star-gen-font-size: 13px
}

.au-container .banner {
    padding-top: var(--navbar-height);
}

.banner img {
    width: 100%;
}

.inspiration-story {
    display: flex;
    margin-left: var(--margin-rl-width);
    margin-right: var(--margin-rl-width);
    padding-top: var(--margin-bottom);
    padding-bottom: var(--margin-bottom);
    flex-wrap: wrap;
    justify-content: space-between;
}

.inspiration-story > .story-image {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.story-image img {
    width: 100%;
}

.inspiration-story .story-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.inspiration-story .story-detail {
    padding: var(--margin-bottom);
}

.story-detail > h1 {
    text-align: start;
    font-weight: var(--font-bold);
}

.story-detail > p {
    word-spacing: 2px;
    line-height: 2;
}

.roadmap-section img {
    width: 100%;
}

.vision-section {
    background-image: url(../images/about_us/vision-background-image.jpg);
}

.vision-section .box-section-container {
    justify-content: space-between;
}

.vision-container {
    margin-left: var(--margin-rl-width);
    margin-right: var(--margin-rl-width);
}

.vision-section .vision-image {
    padding-top: var(--margin-bottom);
}

.vision-image > img {
    width: 100%;
}

.star-gen-section .star-gen-image {
    display: flex;
    justify-content: center;
    margin-bottom: var(--margin-bottom);
}

.sg-leaders {
    margin-left: var(--margin-rl-width);
    margin-right: var(--margin-rl-width);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sg-leaders .leader-item {
    width: 22%;
    background-color: #F0F3F4;
    margin-bottom: var(--margin-bottom);
}

.item-title h3, .item-title h4 {
    padding-left: var(--margin-bottom);
    padding-right: var(--margin-bottom);
}

.leader-item .item-title {
    border-bottom: 1px solid #cccccc;
}

.item-title > img {
    width: 100%;
}

.item-title h3 {
    font-weight: var(--font-bold);
    text-align: start;
    color: #47aa75;
}

.item-title h4 {
    font-size: 14px;
}

.item-info {
    padding: var(--margin-bottom);
}

.item-info p.title {
    font-weight: var(--font-bold);
    font-size: var(--star-gen-font-size);
}

.item-info li {
    font-size: var(--star-gen-font-size);
    line-height: 1.4;
    margin-bottom: 10px;
}

.sg-generations {
    margin-left: var(--margin-rl-width);
    margin-right: var(--margin-rl-width);
}

.sg-generations img {
    width: 100%;
}