.container {
    padding-top: var(--navbar-height);
    min-height: 500px;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 440px;
    margin: 20px auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.identify_main {
    background-color: #FFFFFF;
    width: 400px;
    height: 344px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign_up_main {
    background-color: #FFFFFF;
    width: 400px;
    min-height: 540px;
    margin: 20px auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.identify_buttons {
    margin-left: 60px;
    margin-right: 66px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.verify_notice {
    font-size: 14px;
    margin: 0 46px 30px 46px;
}

.warning_message {
    font-size: 14px;
    margin: 0 46px 20px 46px;
    color: red;
}

.success_message {
    font-size: 14px;
    margin: 0 46px 20px 46px;
    color: green;
}

.cancel {
    cursor: pointer;
    border-radius: 5em;
    color: black;
    background-color: #e4e6eb;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04)
}

.sign {
    padding-top: 40px;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.loginform {
    padding-top: 40px;
}

.identify_form {
    padding-top: 20px;
}

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.authenticate_warning {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 46px;
    margin-right: 46px;
    margin-top: 0;
    font-size: 12px;
    color: red;
}

.signin-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background-color: rgb(239, 173, 116);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    padding-top: 15px;
}

.forgot:hover {
    text-decoration: underline;
}

.forgot a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #000000;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}